@import 'normalize', 'fonts', 'mixins', 'media', 'utils', 'variables', 'globals';

body {
  font-size: 14px;
  // width: 1109px;
}
section {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
}

.header {
  background-color: var(--color-green);
  width: 100%;
  height: 84px;
  &__inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    margin-left: auto;
    padding-right: 55px;

    &-list {
      display: flex;
      column-gap: 8px;
    }
  }

  &__menu-link {
    color: var(--color-white);
    font-size: 1.714em;
    font-weight: 500;
  }
}

.logo {
  padding-left: 55px;
}

.img-block {
  max-width: 100%;
  position: relative;

  &__image {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5.35em;
    font-weight: 500;
  }
}

.text-block {
  min-height: 100%;
  &__title {
    height: 75px;
    padding-top: 48px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    color: var(--color-green);
  }
  &__paragraph {
    width: 1110px;
    margin: 0 auto;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 40px;
    padding: 0px 55px 0px 55px;
    &--margin {
      margin-top: 76px;
    }

    &--bold {
      font-weight: bold;
    }
  }
}

.img-block-2 {
  max-width: 100%;
  position: relative;

  &__image {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 893px;
    height: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 500;
  }
}
.text-block-2 {
  max-width: 100%;
  &--background-color {
    background-color: #ffffff;
  }
  &__image {
    float: left;
    margin-right: 48px;
    margin-bottom: 35px;
  }
}

.team-block {
  margin-bottom: 84px;
  &__list {
    display: inline-block;
    flex-wrap: wrap;
    width: 33%;
    text-align: center;
    padding: 15px;
    padding-top: 110px;
    &-name {
      color: var(--color-green);
      font-size: 24px;
      font-weight: 700;
      margin-top: 12px;
    }
    &-job {
      font-size: 18px;
      font-style: italic;
    }
  }
}

.footer {
  position: relative;
  height: 176px;
  background-color: var(--color-footer);
  &__text {
    position: absolute;
    width: 540px;
    text-align: center;
    color: var(--color-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
}
